CORS_ORIGINS=http://localhost:3000
KESTREL_PACK_DIR=../../FDE_Assignment_Pack_Kestrel_v1.1
KESTREL_DB_PATH=../../FDE_Assignment_Pack_Kestrel_v1.1/data/kestrel_ops.db
PARTNER_API_URL=http://localhost:8088
